
  


/* Set the root container to use flexbox with a column layout */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}

/* Add some spacing between the components */
.App > * {
  margin-bottom: 30px; /* Adjust the spacing as needed */
}

/* Ensure the footer is at the bottom */
.Footer {
  margin-top: auto;
}
